.banner-header {
    background-color: black;
    border: none !important;
    box-shadow: none !important;
}

.phone-img {
    object-fit: cover;
    width: 200px;
}

.card-image {
    object-fit: contain;
    width: 300px;
}

@media (max-width: 1100px) {
    .phone-img {
        padding-top: 30px;
    }

    .card-image {
        width: 280px;
        padding-top: 30px;
    }
}