.step {
    background-color: #020a11;
    color: #FFFFFF;
    /* margin: 20px 0; */
    padding: 20px 0;
    border: none !important;
    box-shadow: none !important;
}

.step-details {
    text-align: center;
}

.step-line {
    border-top: 3px solid white;
    width: 150px;
    margin: 10px auto;
}