.banner-step {
    background-color: #020A11;
}

.step-card-img {
    width: 600px;
}

.step-infor {
    display: flex;
    justify-content: space-between;
    border: none !important;
    box-shadow: none !important;
}

.step-phone-img {
    width: 200px;
    border-radius: 20px;
}

.step-text {
    font-weight: 700;
    line-height: inherit;
}